/*
 * General styles 
 */
body {
	background: none repeat scroll 0 0 #DDDDDD;
	font-size: 16px;
	font-family: 'Droid San', sans-serif;
	line-height: 24px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 24px 0;
}

/*headings*/
h2 {
	font-family: 'Droid San', serif;
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 24px 0;
	font-weight: 700;
}
h3 {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border-bottom: 4px double #1d1d1d;
	border-top: 4px double #1d1d1d;
	padding: 4px 0;
	margin-bottom: 8px;
}

/*blockquote*/

blockquote {
	font-family: 'Droid Serif', serif;
	font-size: 36px !important;
	line-height: 36px;
	font-style: italic;
	font-weight: 700;
}

.intro a span {
	font-style: italic;
	font-weight: normal;
	padding: 0 0 0 0.5em;
}

/*layout*/


#wrapper {
	background-color: #fff;
	overflow: hidden;
}

header section#logo {
	height: 220px;
}
header aside#logo_unsw {
	height: 220px;
}
header section#logo a {
	width: 400px;
	padding: 12px 10px;
	display: block;
	text-decoration: none;
	font-size: 48px;
	font-weight: bold;
}
header aside#logo_unsw h1 {
	text-transform: uppercase;
	padding: 42px 0px 0px 10px;
	display: block;
	text-decoration: none;
	font-size: 48px;
	font-weight: bold;
}

/*main menu style*/
#mainNav {
	margin: auto;
}
#siteNav {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-right: 0px;
	height: 60px;
	list-style-type: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}
ul#siteNav li {
	display: inline;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;	
}
.link a {
	cursor: pointer;
	text-align: center;
	font: 16px/100% Verdana, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	min-width: 50px;
	height: 20px;
	/*float: left;*/
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}