/*
 * General styles 
 */
body {
	background: #F2F2F2;
	font-size: 16px;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
	line-height: 24px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 24px 0;
}

/*headings*/
h2 {
	font-family: 'Droid San', serif;
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 24px 0;
	font-weight: 700;
}
h3 {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border-bottom: 4px double #1d1d1d;
	border-top: 4px double #1d1d1d;
	padding: 4px 0;
	margin-bottom: 8px;
}

/*blockquote*/

blockquote {
	font-family: 'Droid Serif', serif;
	font-size: 36px !important;
	line-height: 36px;
	font-style: italic;
	font-weight: 700;
}

.intro a span {
	font-style: italic;
	font-weight: normal;
	padding: 0 0 0 0.5em;
}

/*layout*/


#wrapper {
	overflow: hidden;
}

header#mainheader {
	/*margin-bottom: 50px;*/
}
header section#logo {
	height: 180px;
}
header aside#logo_unsw {
	height: 180px;
}
header section#logo a {
	width: 400px;
	padding: 12px 10px;
	display: block;
	text-decoration: none;
	font-size: 48px;
	font-weight: bold;
}
header aside#logo_unsw h1 {
	text-transform: uppercase;
	padding: 42px 0px 0px 10px;
	display: block;
	text-decoration: none;
	font-size: 48px;
	font-weight: bold;
}

/*main menu style*/
#mainNav {
	margin: auto;
}
#mainNav h1, #pageNav h1{
	display: none;
}
#siteNav {
	text-align: center;
	position: relative;
	padding: 20px 0px 0px 0px;
	height: 40px;
	list-style-type: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}
ul#siteNav li {
	display: inline;
	/*padding: 20px 10px 0px 10px;*/
	margin-left: auto;
	margin-right: auto;
}
.link a {
	cursor: pointer;
	text-align: center;
	font: 16px/100% 'Droid Serif', serif;
	font-weight: bold;
	position: relative;
	min-width: 50px;
	height: 20px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}
.link:first-child a {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-topleft-radius: 10px;
	-moz-border-bottomleft-radius: 10px;
	border-top-left-radius: 10;
	border-bottom-left-radius: 10px
}
.Black,.Black .link a {
	color: #d7d7d7;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666),	to(#000) );
	background: -moz-linear-gradient(top, #666, #000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666',	endColorstr='#000000' )
}
.Black .link a:hover,.Black .link a:focus {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444),	to(#000) );
	background: -moz-linear-gradient(top, #444, #000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444',	endColorstr='#000000' )
}
.Black .link a {
	border-right: solid 1px #333
}


.Black .link a:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000),	to(#444) );
	background: -moz-linear-gradient(top, #000, #444);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',	endColorstr='#666666' )
}
.link:last-child a {
	border: none;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius: 0px 10px 0px 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px
}

/*
 * main content styles
 */
#middleblock {
	margin-top: 50px;
}
header#newsHd {
	margin: 20px 10px 30px 10px;
}
header#newsHd nav {
	text-align: left;
	position: relative;	
	height: 160px;
	list-style-type: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}
header#newsHd nav ul {
	height: 140px;
	padding: 10px 0px;
}
header#newsHd nav ul li {
	display: block;
	margin-left: 30px;
	height: 128px;
	width: 128px;
	position: relative;
	float: left;
}
header#newsHd nav ul#newsNav li {
	background: url("../images/icons/news_2.png") #fff top center no-repeat;
}
header#newsHd nav ul#peopleNav li {
	background: url("../images/icons/groups-icon_2.png") #fff top center no-repeat;
}
header#newsHd nav ul li a{
	display: block;
	margin-top: 115px;
	padding-left: 26px;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
 	font-size: 0.8em;
    line-height: 1.6;
}
#textArea {
	background: url("images/global/page.png") repeat-y scroll 0 0 #FFFFFF;
	border: 1px solid #DDDDDD;
}
#textblock blockquote {
	padding-top: 20px;
	padding-left: 20px;
}
.slider-wrapper {
	clear: both;
    position: relative;
    width: 440px; /* Change this to your images width */
    height: 246px; /* Change this to your images height */
	padding-right: 20px;
}
section#textArea article.newsarea {
	padding: 0px 30px;
}
section#textArea article h1 {
	font-family: Georgia,serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
section#textArea article p {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
 	font-size: 1.0em;
    line-height: 1.6;
    margin: 0 0 20px 0;
    padding: 0 30px 0 0;
}
section#textArea article p.meta {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
 	font-size: 0.8em;
    line-height: 1.6;
    margin: 4px 0 8px 0;
    padding: 0 30px 0 0;
}

/*
 * contact us page styles
 */
div#middleArea {
	background: url("images/global/page.png") repeat-y scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    position: relative;
}
article#contactInfo h2, article#contactInfo p{
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
	padding-left: 10px;
}
article#contactInfo h2 {
	font-size: 24px;
}
article#contactInfo p {
	padding: 10px 0px 0px 15px;
	text-align: left;
	font-weight: bold;
}
article#contactInfo p.normalText {
	font-weight: normal;
	padding-bottom: 30px;
}
article#contactInfo p span.contactAside {
	display: block; 
	margin-top: -24px;
	margin-left: 130px;
	border-bottom: 1px dotted #B7B7B7;
	font-weight: normal;
}
aside#contactform form#messageForm {
	padding-left: 30px;
    padding-right: 10px;
}
aside#contactform form#messageForm label {
	display: block;
	width: 30px;
	padding-right: 10px;
	font-weight: bold;
}
aside#contactform form#messageForm input.inputText {
	border: 1px solid #DDDDDD;
    margin: 3px;
    padding: 2px;
    width: 350px;
}
aside#contactform form#messageForm textarea.inputTA {
	border: 1px solid #DDDDDD;
    margin: 3px;
    padding: 2px;
    width: 410px;
}

/*
 * footer styles
 */
footer#mainfooter {
	clear: both;
	color: #6E6E6E;
	font-size: 12px;
	text-align: center;
	border-top: thin solid #E5E5E5;
	border-bottom: thin solid #E5E5E5;
	margin-top: 60px;
	margin-bottom: 30px;
}
footer#mainfooter p{
	padding: 5px;
}
footer#mainfooter p a{
	color: #6E6E6E;
	font-size: 12px;
	font-style: italic;
}